Flask
pandas
pinecone
requests
beautifulsoup4
python-dotenv
streamlit
tabulate
pinecone
selenium
webdriver-manager
langchain
langchain-community
chromadb
sentence-transformers
unstructured[local-inference]==0.10.0
pytesseract==0.3.10
onnxruntime
pdf2image
nltk
accelerate
reportlab
duckduckgo-search